@model MVCGarage.ViewModels.Shared.DisplayVehiclesVM

<div class="container">
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @{string htmlName = @Html.DisplayNameFor(model => model.Vehicles.First().RegistrationPlate).ToHtmlString();}
                    @Html.ActionLink(htmlName, Model.ViewName, new { sortOrder = ViewBag.RegistrationPlateSortParam })
                </th>
                <th>
                    @{htmlName = @Html.DisplayNameFor(model => model.Vehicles.First().VehicleType).ToHtmlString();}
                    @Html.ActionLink(htmlName, Model.ViewName, new { sortOrder = ViewBag.VehicleVehicleTypeSortParam })
                </th>
                <th>
                    @{htmlName = @Html.DisplayNameFor(model => model.ParkingSpotsVehicles.Values.First().CheckInTime).ToHtmlString();}
                    @Html.ActionLink(htmlName, Model.ViewName, new { sortOrder = ViewBag.VehicleCheckInTimeSortParam })
                </th>
                <th>
                    @Html.ActionLink("Parking spot", Model.ViewName, new { sortOrder = ViewBag.ParkingSpotSortParam })
                </th>
                <th>
                    @{htmlName = @Html.DisplayNameFor(model => model.ParkingSpotsVehicles.Values.First().ParkingSpot.Fee).ToHtmlString();}
                    @Html.ActionLink(htmlName, Model.ViewName, new { sortOrder = ViewBag.VehicleFeeSortParam })
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Vehicles)
            {
                MVCGarage.Models.CheckIn checkIn = Model.ParkingSpotsVehicles[item.ID];

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.Type)
                    </td>
                    <td>
                        @if (checkIn != null)
                        {
                            @Html.DisplayFor(modelItem => checkIn.CheckInTime)
                        }
                    </td>
                    <td>
                        @if (checkIn != null)
                        {
                            @Html.DisplayFor(modelItem => checkIn.ParkingSpot.Label)
                        }
                    </td>
                    <td>
                        @if (checkIn != null)
                        {
                            if (checkIn.Booked)
                            {
                                @checkIn.ParkingSpot.DisplayMonthlyFee()
                            }
                            else
                            {
                                @checkIn.ParkingSpot.DisplayFee()
                            }
                        }
                    </td>
                    <td>
                        @* Custom actions, according to the parked/unparked status of the vehicle *@
                        @if (checkIn == null)
                        {

                            @Html.ActionLink("Check in",
                                             "CheckInAVehicle",
                                             new { vehicleId = item.ID })
                            <text> | </text>
                            @Html.ActionLink("Book a parking spot",
                                             "BookAParkingSpotForAVehicle",
                                             "Vehicles",
                                             new { vehicleId = item.ID },
                                             null)
                            <text> | </text>
                            @Html.ActionLink("Edit",
                                             "Edit",
                                             "Vehicles",
                                             new { id = item.ID },
                                             null)
                        }
                        else
                        {
                            if (checkIn.Booked)
                            {
                                @Html.ActionLink("Unbook parking spot",
                                                 "UnbookAParkingSpot",
                                                 new
                                                 {
                                                     vehicleId = item.ID
                                                 })
                            }
                            else
                            {
                                @Html.ActionLink("Check out", "CheckOutAVehicle", new { vehicleId = item.ID })
                            }
                        }
                        | @Html.ActionLink("Details", "Details", "Vehicles", new { id = item.ID }, null)
                        @if (checkIn == null)
                        {
                            <text> | @Html.ActionLink("Delete", "Delete", "Vehicles", new { id = item.ID }, null)</text>
                        }
                        | @Html.ActionLink("View historic", "VehicleHistoric", "CheckIns", new { vehicleId = item.ID }, null)
                   </td>
                </tr>
            }
        </table>
    </div>
</div>
