@model MVCGarage.ViewModels.CheckIns.ParkingSpotHistoricVM

@{
    ViewBag.Title = "Parking Historic";
}

<div class="header jumbotron">
    <h1>Parking Historic for:</h1>
</div>

<div style="color: white; margin-top: 10em; text-align: center;">
    <h2 style="text-align: center;">Parking Spot</h2>
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpot.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpot.VehicleType.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpot.Fee)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ParkingSpot.Label)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ParkingSpot.VehicleType.Type)
                </td>
                <td>
                    @Model.ParkingSpot.DisplayFee()
                </td>
            </tr>
        </table>
    </div>

    @if (Model.CheckIns.Count() == 0)
    {
        <h2>No historic to be displayed</h2>
    }
    else
    {
        <hr />
        <h2 style="text-align: center;">Vehicles</h2>
        <div class="index-table">
            <table>
                <tr>
                    <th>
                        @{string htmlName = @Html.DisplayNameFor(model => model.CheckIns.First().Vehicle.RegistrationPlate).ToHtmlString();}
                        @Html.ActionLink(htmlName,
                                     "ParkingSpotHistoric",
                                     new
                                       {
                                           parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                           sortOrder = ViewBag.VehicleRegNumberSortParam
                                       })
                    </th>
                    <th>
                        @{htmlName = @Html.DisplayNameFor(model => model.CheckIns.First().Vehicle.Owner).ToHtmlString();}
                        @Html.ActionLink(htmlName,
                                         "ParkingSpotHistoric",
                                         new
                                         {
                                             parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                             sortOrder = ViewBag.VehicleOwnerSortParam
                                         })
                    </th>
                    <th>
                        @{htmlName = @Html.DisplayNameFor(model => model.CheckIns.First().CheckInTime).ToHtmlString();}
                        @Html.ActionLink(htmlName,
                                         "ParkingSpotHistoric",
                                         new
                                         {
                                             parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                             sortOrder = ViewBag.CheckInTimeSortParam
                                         })
                    </th>
                    <th>
                        @{htmlName = @Html.DisplayNameFor(model => model.CheckIns.First().CheckOutTime).ToHtmlString();}
                        @Html.ActionLink(htmlName,
                                         "ParkingSpotHistoric",
                                         new
                                         {
                                             parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                             sortOrder = ViewBag.CheckOutTimeSortParam
                                         })
                    </th>
                    <th>
                        @{htmlName = @Html.DisplayNameFor(model => model.CheckIns.First().TotalAmount).ToHtmlString();}
                        @Html.ActionLink(htmlName,
                                         "ParkingSpotHistoric",
                                         new
                                         {
                                             parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                             sortOrder = ViewBag.TotalAmountSortParam
                                         })
                    </th>
                    <th>
                        @Html.ActionLink("Status",
                                         "ParkingSpotHistoric",
                                         new
                                         {
                                             parkingSpotId = Model.CheckIns.First().ParkingSpotID,
                                             sortOrder = ViewBag.StatusSortParam
                                         })
                    </th>
                </tr>

                @foreach (var item in Model.CheckIns)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehicle.RegistrationPlate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehicle.Owner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckInTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CheckOutTime)
                        </td>
                        <td>
                            @Html.DisplayName(string.Format("{0:C}", item.TotalAmount))
                        </td>
                        <td>
                            @Html.DisplayName(item.Status())
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

<div style="color: white; text-align: center; display: block; font-size: 2em; margin-bottom: 3em;">
    <p>
        @Html.ActionLink("Back to List", "Index", "ParkingSpots")
    </p>
</div>
