@model MVCGarage.Models.CheckIn

@{
    ViewBag.Title = "Check in a vehicle";
}

<div class="header jumbotron">
    <h1>The following vehicle has been checked in:</h1>
</div>

<div class="about-body-text" style="color: white; margin-top: 10em; text-align: center;">
    <h2>Vehicle</h2>
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.RegistrationPlate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.Owner)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Vehicle.VehicleType)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Vehicle.RegistrationPlate)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Vehicle.Owner)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Vehicle.VehicleType.Type)
                </td>
            </tr>
        </table>
    </div>

    <hr />
    <h2>Parking Spot</h2>
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpot.Label)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ParkingSpot.Fee)
                </th>

                <th>
                    @Html.DisplayName("Check in time")
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ParkingSpot.Label)
                </td>

                <td>
                    @Model.ParkingSpot.DisplayFee()
                </td>

                <td>
                    @Html.DisplayFor(model => model.CheckInTime)
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="color: white; text-align: center; display: block; font-size: 2em; margin-bottom: 3em;">
    <p>
        @Html.ActionLink("Back to List", "DisplayAllVehicles", "Garage")
    </p>
</div>