@model MVCGarage.Models.Vehicle

@{
    ViewBag.Title = "Delete";
}

<div class="header jumbotron">
    <h2>Delete a vehicle</h2>
    <hr />
    <p>This is where you can delete a vehicle</p>
</div>

<h1 style="color: white; text-align: center;">Are you sure you want to delete this vehicle?</h1>
<div class="about-body-text">
    <hr />
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.RegistrationPlate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Owner)
                </td>
                <td>
                    @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(Model.VehicleType))
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align: center; display: block; margin-bottom: 3em; color:white;">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DisplayAllVehicles", "Garage", null, new { style = "display: block; text-align: center;" })
        </div>
    }
</div>
