@model MVCGarage.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<div class="header jumbotron">
    <h2>Details</h2>
    <hr />
    <p>This is where you can view details for a vehicle</p>
</div>

<div>
    <h1 style="text-align: center; color: white;">Vehicle</h1>
    <hr />
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.RegistrationPlate)
                </td>
                <td>
                    @Html.DisplayName(string.Format("{0} {1} - {2}", Model.Owner.Lname.ToUpper(), Model.Owner.Fname, Model.Owner.LicenseNumber))
                </td>
                <td>
                    @Html.DisplayFor(model => model.VehicleType.Type)
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="text-align:center; display:block; font-size: 2em; margin-bottom: 3em; color: white;">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "DisplayAllVehicles", "Garage")
    </p>
</div>
