@model MVCGarage.Models.Vehicle

@{
    ViewBag.Title = "Edit a vehicle";
}

<div class="header jumbotron">
    <h1>Edit a vehicle</h1>
    <hr />
    <p>This is where you can edit a Vehicle</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal jumbotron" style="color: white;">
        <h2 style="text-align: center;">Vehicle</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleTypeID, "Vehicle Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VehicleTypeID", 
                                   (IEnumerable<SelectListItem>)ViewBag.SelectVehicleTypes, 
                                   htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VehicleTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr style="width: 50%; margin-left: 3em;" />

        <div class="form-group">
            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OwnerID",
                                   (IEnumerable<SelectListItem>)ViewBag.SelectOwners,
                                   htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr style="width: 50%; margin-left: 3em;" />

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationPlate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationPlate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationPlate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="text-align: center; display: block; font-size: 2em; margin-bottom: 3em;">
    @Html.ActionLink("Back to List", "DisplayAllVehicles", "Garage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
