@model MVCGarage.Models.ParkingSpot

@{
    ViewBag.Title = "Delete a Parking Spot";
}

<div class="header jumbotron">
    <h1>Delete a parking spot</h1>
    <hr />
    <p>This is where you can go to delete a parking spot</p>
</div>


<h1 style="color: white; text-align: center;">Are you sure you want to delete this parking spot?</h1>
<div class="about-body-text" style="color: white;">
    <h5 style="text-align: center;">ParkingSpot</h5>
    <hr />
    <div class="index-table">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fee)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Label)
                </td>
                <td>
                    @Html.DisplayFor(model => model.VehicleType.Type)
                </td>
                <td>
                    @Model.DisplayFee()
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align: center; display: block; margin-bottom: 3em;">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
